@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1776 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1776 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1776 0 0);
    --primary: oklch(0.6559 0.2118 354.3084);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.2520 0 0);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(1.0000 0 0);
    --muted-foreground: oklch(0.5517 0.0138 285.9385);
    --accent: oklch(0.9482 0.0276 342.2585);
    --accent-foreground: oklch(0.1776 0 0);
    --destructive: oklch(0.5246 0.1990 3.9582);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9197 0.0040 286.3202);
    --input: oklch(1.0000 0 0);
    --ring: oklch(0.6559 0.2118 354.3084);
    --chart-1: oklch(0.7253 0.1752 349.7607);
    --chart-2: oklch(0.6559 0.2118 354.3084);
    --chart-3: oklch(0.5916 0.2180 0.5844);
    --chart-4: oklch(0.5246 0.1990 3.9582);
    --chart-5: oklch(0.4587 0.1697 3.8151);
    --radius: 0.75rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: oklch(0.1776 0 0);
    --sidebar-primary: oklch(0.6559 0.2118 354.3084);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(1.0000 0 0);
    --sidebar-accent-foreground: oklch(0.1776 0 0);
    --sidebar-border: oklch(0.9197 0.0040 286.3202);
    --sidebar-ring: oklch(0.6559 0.2118 354.3084);
    --sidebar: oklch(1.0000 0 0);
    --font-sans: Geist;
    --font-serif: Lora;
    --font-mono: Geist Mono;
    --shadow-color: #000000;
    --shadow-opacity: 0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 0px;
    --letter-spacing: 0rem;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
    --tracking-normal: 0rem;
  }
  .dark {
    --background: oklch(0.1776 0 0);
    --foreground: oklch(0.9791 0 0);
    --card: oklch(0.1776 0 0);
    --card-foreground: oklch(0.9791 0 0);
    --popover: oklch(0.1776 0 0);
    --popover-foreground: oklch(0.9791 0 0);
    --primary: oklch(0.7253 0.1752 349.7607);
    --primary-foreground: oklch(0.1776 0 0);
    --secondary: oklch(0.3211 0 0);
    --secondary-foreground: oklch(0.9791 0 0);
    --muted: oklch(0.1776 0 0);
    --muted-foreground: oklch(0.7118 0.0129 286.0665);
    --accent: oklch(0.3211 0 0);
    --accent-foreground: oklch(0.9791 0 0);
    --destructive: oklch(0.5246 0.1990 3.9582);
    --destructive-foreground: oklch(0.9791 0 0);
    --border: oklch(0.2739 0.0055 286.0326);
    --input: oklch(0.1776 0 0);
    --ring: oklch(0.7253 0.1752 349.7607);
    --chart-1: oklch(0.7253 0.1752 349.7607);
    --chart-2: oklch(0.6559 0.2118 354.3084);
    --chart-3: oklch(0.5916 0.2180 0.5844);
    --chart-4: oklch(0.5246 0.1990 3.9582);
    --chart-5: oklch(0.4587 0.1697 3.8151);
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: oklch(0.9791 0 0);
    --sidebar-primary: oklch(0.7253 0.1752 349.7607);
    --sidebar-primary-foreground: oklch(0.1776 0 0);
    --sidebar-accent: oklch(0.3211 0 0);
    --sidebar-accent-foreground: oklch(0.9791 0 0);
    --sidebar-border: oklch(0.2739 0.0055 286.0326);
    --sidebar-ring: oklch(0.7253 0.1752 349.7607);
    --radius: 0.75rem;
    --sidebar: oklch(0.1776 0 0);
    --font-sans: Geist;
    --font-serif: Lora;
    --font-mono: Geist Mono;
    --shadow-color: #000000;
    --shadow-opacity: 0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 0px;
    --letter-spacing: 0rem;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
  }
  .theme {
    --font-sans: Geist;
    --font-mono: Geist Mono;
    --font-serif: Lora;
    --radius: 0.75rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}